.text-down {
    text-transform: none !important;
}
.purple{
    color: blueviolet;
}
.orange{
    color: orange;
}
.ic{
    background-size: contain; /* Para que el SVG se ajuste al tamaño del contenedor */
    background-repeat: no-repeat; /* Para que no se repita */
    width: 1.7rem; /* Ajusta el tamaño del contenedor */
    height: 1.7rem; /* Ajusta el tamaño del contenedor */
}
.django {
    background-image: url('django-icon.svg');
    content-visibility: auto;
}
.mysql{
    background-image: url('mysql.svg');
    content-visibility: auto;
}
.node{
    background-image: url('node-js.svg');
    content-visibility: auto;
}
.react{
    background-image: url('react.svg');
    content-visibility: auto;
}
.spring{
    background-image: url('spring.svg');
    content-visibility: auto;
}
.sqlite{
    background-image: url('sqlite.svg');
    content-visibility: auto;
}